.eg-image {
    position: relative;
    background-color: #dedede;
    border-radius: 0.5em;
    overflow: hidden;
    height: 0;
    width: 0;
    padding: 50%;

    &__element {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
}