.eg-apps {
    &__app {
        display: block;
        width: calc(50% - 16px);
        float: left;

        &:nth-child(odd) {
            margin-right: 16px;
        }

        &:nth-child(even) {
            margin-left: 16px;
        }
    }

    &__logo {
        margin-bottom: 16px;
    }

    &__action {

        &:nth-child(odd) {
            margin-right: 8px;
        }

        &:nth-child(even) {
            margin-left: 8px;
        }
    }

    &__name {
        margin-bottom: 16px;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
}
