.eg-entries {

    &__row {
        display: flex;
        height: 60px;
        margin: 0;
        align-items: center;
        margin-bottom: 8px;
    }

    &__image {
        border-radius: 50%;
        overflow: hidden;
        height: 60px;
        width: 60px;
        margin-right: 18px;
    }

    &__caption {
        flex: 1;
        width: calc(100% - 60px);
    }
}