.eg-button {
    height: 36px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: solid 1px #D7D7D7;
    text-align: center;
    padding: 3px 20px;
    cursor: pointer;
    margin-bottom: 16px;

    &:hover {
        background-color: #D7D7D7;
    }
}