.eg-stage {
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    padding-top: 80px;

    &__header {
      align-items: center;
      background-color: #f15d5d;
      display: flex;
      font-size: 21px;
      height: 60px;
      left: 50%;
      margin-bottom: 18px;
      max-width: 480px;
      min-width: 320px;
      position: fixed;
      text-align: center;
      top: 0;
      transform: translateX(-50%);
      width: 100%;
      z-index: 10;

      &:before, &:after {
          background-color: inherit;
          content: "";
          height: 100%;
          position: absolute;
          top: 0;
          width: 200%;
      }

      &:before {
          left: 100%;
      }

      &:after {
          right: 100%;
      }
    }

    &__back-button {
        margin-bottom: 0;
        left: 16px;
        position: absolute;
    }

    &__title {
        width: 100%;
    }

    &__logout {
        margin-bottom: 0;
        position: absolute;
        right: 16px;
    }
}
